@using MyFirstProject.Web.Startup
@{ 
    ViewBag.Title = L("Car");
    ViewBag.CurrentPageName = PageNames.Car;
}

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p>@DateTime.Now</p>
            </div>
            <div class="col-md-4">
                <a type="button" style="background-color: #74d14c; color: white; padding: 5px; border-radius: 5px;" asp-action="Create">Add Car</a>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Plaka</th>
                    <th>Login Time</th>
                    <th>Exit Time</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <td>@item.Plaka</td>
                        <td>@item.LoginTime</td>
                        <td>@item.ExitTime</td>
                        <td>
                            <a type="button" style="background-color: #74d14c; color: white; padding: 5px; border-radius: 5px; margin-right: 5px" asp-action="Details" asp-route-id="@item.Id">Details</a>
                            <a type="button" style="background-color: #74d14c; color: white; padding: 5px; border-radius: 5px; margin-right: 5px" asp-action="Update" asp-route-id="@item.Id">Edit</a>
                            <a type="button" style="background-color: indianred; color: white; padding: 5px; border-radius: 5px" asp-controller="Car" asp-action="Delete" asp-route-id="@item.Id">Delete</a>

                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
</body>
